footer {
    background: $veryLightGray;
    padding: 60px 0;

    &::before{
        content: ""; // ::before and ::after both require content
        position: absolute;
        bottom: 0;
        top: 232%;
        left: 0;
        width: 30%;
        height: 30%;
        background-image: url(../../images/bg-pattern-footer-desktop.svg);
        background-repeat: no-repeat;
        // 

        @include breakpoint-down(medium){
            width: 45%;
            top: 170%;
        }

        @include breakpoint-down(small){
            background-image: url(../../images/bg-pattern-footer-mobile.svg);
            background-repeat: no-repeat;
            width: 100%;
            top: 398%;
        }
    }

    .logo-socials {
        z-index: 5;

        margin-bottom: 1.5rem;
        @include breakpoint-down(small){
            gap: 1.5rem;
        }

        .footer-logo {
            width: 10%;
            @include breakpoint-down(small){
                width: 40%;
            }
            img {
                width: 100%;
            }
        }

        .socials {
            z-index: 100;
            gap: 1rem;
            a {
                z-index: 100;
                font-size: 1.25rem;

                i{
                    z-index: 100;
                    color: $darkGrayishViolet;
                    transition: all 300ms ease-in-out;

                    &:hover {
                        color: $veryDarkViolet;
                    }
                }

                
            }
        }
    }

    .line {
        height: 1px;
        width: 100%;
        background: $darkGrayishViolet;
        margin-bottom: 1.5rem;
    }

    .footer-links {
        z-index: 5;

        margin-bottom: 2rem;

        @include breakpoint-up(medium){
            gap: 10rem;
        }

        @include breakpoint-down(small){
            gap: 1.1rem;
        }
        .section {
            z-index: 100;
            @include breakpoint-down(small){
                text-align: center;
            }

            p {
                color: $darkGrayishViolet;
                margin-bottom: 1.1rem;
                text-transform: uppercase;
            }

            ul {
                gap: .4rem;
                li {
                    a {
                        text-transform: uppercase;
                        color: $darkViolet;
                        transition: all 300ms ease-in-out;

                        &:hover {
                            text-decoration: underline;
                        }

                        &:visited{
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}