@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

// :root {
//     --darkViolet: hsl($darkViolet);
//    --grayishBlue: hsl($grayishBlue);
//    --veryDarkViolet: hsl($veryDarkViolet);
//    --darkGrayishViolet: ($darkGrayishViolet);
//     --veryLightGray:  ($veryLightGray);
// }


*,*::after,*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    font-size: $normalFont;
    color: var(--grayishBlue);
    font-family: $karla;
}


ul {
    list-style-type: none;
}

img {
    max-width: 100%;
}


h1,h2,h3,h4 {
    margin-top: 0px;
    font-family: $serifDisplay;
}

//Texts

p {
    line-height: 1.5;
}

a,a:visited,a:hover {
    text-decoration: none;
}

.container {
    width: 71.25rem;
    margin: 0 auto;

    @include breakpoint-down(large){
        width: 100%;
        padding-inline: 1.25rem;
    }

    @include breakpoint-down(medium){
        width: 100%;
    }

    @include breakpoint-down(small){
        width: 100%;
    }
}

.flex {
    display: flex;

    &-jc-sb {
        justify-content: space-between;
    }
    &-jc-c {
        justify-content: center;
    }
    &-ai-c {
        align-items: center;

    }

    &-mob {
        @include breakpoint-down(small){
            flex-direction: column;
        }
    }

    &-col {
        flex-direction: column;
    }

    &-mob-col {
        @include breakpoint-down(small){
            flex-direction: column-reverse;
        }
    }

    &-mob-c {
        justify-content: center;
        align-items: center;
        @include breakpoint-down(small){
            align-items: center;
            justify-content: center;
            margin: 0 auto;
        }
    }

    &-mob-grid {
        flex-direction: column;
        @include breakpoint-down(small){
            justify-content: center;
            align-items: center;
        }
    }

}

.hide-for-desktop {
    @include breakpoint-up(medium){
        display: none;
    }
}

.hide-for-mobile {
    @include breakpoint-down(small){
        display: none;
    }
}

//Hamburger Menu
.burger {

    > span:first-child{
        transform: rotate(45deg);
    }
    
    > span:nth-child(2){
        opacity: 0;
    }
    
    > span:last-child{
        transform: rotate(-45deg);
    }

}

.hide {
    display: none;
}

.active {
    display: block;
}

.noscroll {
    overflow: hidden;
}

.width {
    width: 47%;

    @include breakpoint-down(small){
        width: 100%;
    }
}

.btn {
    border: 2px solid $darkGrayishViolet;
    z-index: 30;
    height: 2.875rem;
    text-align: center;
    width: 9.25rem;
    color: $veryLightGray;
    text-transform: uppercase;
    transition: all 300ms ease-in-out;
    cursor: pointer;

    &:hover {
        background-color: $veryLightGray;
        color: $veryDarkViolet;
    }
}

.last {
    z-index: 30;
    border: 1px solid $veryLightGray;
}
